name: CI

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7

    - name: install
      run: "sudo apt-get update >/dev/null && sudo apt-get install -y puppet >/dev/null && dpkg -l '*ruby*' '*puppet*' && which ruby puppet && head -n1 `which puppet` && ruby --version && /usr/bin/ruby --version && ruby -ruri -e 'puts URI.escape(\"/a p a\")' && ls -al /usr/bin/ruby && file /usr/bin/ruby && /usr/bin/ruby -ruri -e 'puts URI.escape(\"/a p a\")'"

    - name: puppet version
      run: "puppet --version"

